.text-anim-1 {
    font-size: 60px;
    font-weight: bolder;
    background-color: #f0f8ff;
    padding: 5%;
    transform: scale(130%, 80%);
    max-width: fit-content;
    margin: auto;
}

body {
    background-image: linear-gradient(to right, maroon 0% 10%, orange 30% 70%, maroon 90% 100%);
    font-family: 'Comic Sans MS';
    text-align: center;
    color: black;
    scrollbar-width: 0px;
}

h1 {
    font-size: 40px;
}

p .reg {
    font-size: 16px;
}

.fl-Left {
    transform: translate(-20%, -60%);
    color: #f0f8ff;
}

.fl-Right {
    transform: translate(20%, 60%);
    color: #f0f8ff;
}